<div class="container h-100">
  <div class="my-4 p-5 rounded-3 shadow-sm border-3 border" *ngIf="!orderDone">
    <h1>Check Out</h1>
    <div class="row">
      <div class="col-md-5">
        <p>
          Thank you for choosing us for your shopping needs! We want to ensure
          you're fully informed about the delivery process. Once your order is
          confirmed, our dedicated team will swiftly prepare your items for
          shipment. Rest assured, we're committed to delivering your products to
          your registered destination with care and efficiency. Your order will
          be dispatched within 2 days, ensuring it reaches you promptly. Should
          you have any questions or concerns, our customer support team is
          always available to assist you. We appreciate your trust in us and
          look forward to delighting you with your purchase!
        </p>
        <div class="buttonWrapper">
          <button class="common-btn w-100" (click)="confirmOrder()">Confrim your order</button>
        </div>
      </div>
      <div class="col-md-7">
        <h3>Your order</h3>
        <app-cart-list [data]="cart.products" [totalPrice]="cart.totalPrice"></app-cart-list>
      </div>
    </div>
  </div>

  <div *ngIf="orderDone" class="bg-sec-color h-100 text-center mt-5 p-5 rounded">
    <h2>Congratulations your order has been confirmed !</h2>
    <p class="playfair-display-h4">you will be redirected to Home in few seconds....</p>
  </div>
</div>
<p-toast></p-toast>

