
<footer class=" text-white p-4 bg-sec-color">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-logo">
                    <h2 class="playfair-display-h2 main-text-color">
                        Swift Cart
                    </h2>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="d-flex flex-md-row flex-column list-unstyled">
                    <li>
                        <a
                        class="work-sans-normal main-text-color text-decoration-none p-3"
                        routerLink="home"
                        >Home</a>
                    </li>

                    <li>
                        <a
                        class="work-sans-normal main-text-color text-decoration-none p-3"
                        
                        >About</a>
                    </li>

                    <li>
                        <a
                        class="work-sans-normal main-text-color text-decoration-none p-3"
                        
                        >Shop</a>
                    </li>

                    <li>
                        <a
                        class="work-sans-normal main-text-color text-decoration-none p-3"
                        
                        >Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="d-flex justify-content-end list-unstyled">
                    <li>
                        <a class="work-sans-normal main-text-color text-decoration-none mx-3">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a
                        class="work-sans-normal main-text-color text-decoration-none mx-3"
                        
                        ><i class="fa-brands fa-twitter"></i></a>
                    </li>

                    <li>
                        <a
                        class="work-sans-normal main-text-color text-decoration-none mx-3"
                        
                        ><i class="fa-brands fa-instagram"></i></a>
                    </li>

                    <li>
                        <a
                        class="work-sans-normal main-text-color text-decoration-none mx-3"
                        
                        ><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

