
<div class="cart-item-container my-4 card p-2">
    <div class="row">
        <div class="col-lg-4">
          <div class="d-flex">
            <div class="img-container me-3">
              <img [src]="product.imgCover" class="" alt="" />
            </div>
            <div class="info w-100 d-flex flex-column justify-content-center">
              <h5 class="playfair-display-h4">{{product.name | trimString:2}}</h5>
              <p class="sec-text-color">{{product.category}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-3 my-lg-0">
            <div class="d-flex justify-content-around ">
              <div class="quatity-cotnainer">
                <div class=" btn bg-secondary" (click)="addToCart(product._id)">+</div>
                <div class="work-sans-normal text-center">{{product.productQuantity}}</div>
                <div class=" btn bg-secondary" (click)="removeFromCart(product._id)">-</div>
              </div>
              <div class="price-info  d-flex justify-content-center align-items-center flex-column">
                <h6 class="work-sans-normal sec-text-color fw-bold">total : {{product.actualPrice * product.productQuantity | currency : "EGP" : "symbol" : "1.2-2"}}</h6>
                <p class="work-sans-normal sec-text-color fw-bold">price per item : {{product.actualPrice | currency : "EGP" : "symbol" : "1.2-2"}}</p>
              </div>
    
            </div>
        </div>
        <div class="col-lg-2">
          <div class="d-flex justify-content-center align-items-center h-100">
            <i class="fa-heart {{heartClass}} me-3 fs-2 text-danger" (click)="addToFavorite(product._id)"></i>
            <i class="fa-solid fa-trash-can text-danger cursor-pointer" (click)="deleteFromCart(product._id)"></i>
          </div>
        </div>
    </div>
</div>
