.qty-num{
    color:#666666;
}
.qty{
    width: fit-content;
    height: fit-content;
}
.add-btn{
    padding:5px 10px !important;
    color:var(--main-color);
    border:1px solid var(--main-color);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in; 
}

.add-btn:hover{
    color:var(--white-text);
    background-color:  var(--main-color);
}

.line{
    width: 100%;
    border-top: 1px solid var(--sec-text);
    margin-block: 20px;
}