<div class="row">
  <div class="col-md-3">
    <div class="my-4 p-5 rounded-3 shadow-sm border-3 border bg-offWhite">
      <h2>Info</h2>
      <div class="info-wrapper bg-white p-3 rounded-2 border border-2">
        <h4>Rating</h4>
        <div class="flex justify-content-center">
          <p-rating
            [disabled]="true"
            [(ngModel)]="ratingvalue"
            [cancel]="false"
          ></p-rating>
        </div>
        <div class="border-bottom border-bottom-3 my-2"></div>
        <h4>Number of Sales</h4>
        <span>{{ product.productSales }}</span>
        <div class="border-bottom border-bottom-3 my-2"></div>
        <h4>creation date</h4>
        <span>{{ product.creationDate | date:'short'}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="my-4 p-5 rounded-3 shadow-sm border-3 border bg-offWhite w-100">
      <h1>Edit Product</h1>
      <div class="row g-2">
        <div class="col-md-8">
          <div
            class="form-wrapper bg-white p-3 rounded-2 h-100 border border-2"
          >
            <form
              [formGroup]="productForm"
              (ngSubmit)="submitProduct(productForm)"
            >
              <div class="">
                <div class="flex justify-content-center my-3">
                  <div class="flex flex-column gap-2">
                    <label for="name" class="d-block">Name</label>
                    <input
                      formControlName="name"
                      pInputText
                      id="name"
                      aria-describedby="name-help"
                      class="w-100"
                    />
                    <small id="name-help" class="d-block"
                      >Enter your Product name.</small
                    >
                  </div>
                </div>
              </div>
              <div class="">
                <div class="flex justify-content-center my-3">
                  <div class="flex flex-column gap-2">
                    <label for="price" class="d-block">Price</label>
                    <input
                      formControlName="price"
                      pInputText
                      id="price"
                      aria-describedby="price-help"
                      type="number"
                      class="w-100"
                    />
                    <small id="price-help" class="d-block"
                      >Enter your Product price in EGP.</small
                    >
                  </div>
                </div>
              </div>
              <div class="">
                <div class="flex justify-content-center my-3">
                  <div class="flex flex-column gap-2">
                    <label for="priceDiscount" class="d-block"
                      >price Discount in EGP</label
                    >
                    <input
                      formControlName="priceDiscount"
                      pInputText
                      id="priceDiscount"
                      aria-describedby="priceDiscount-help"
                      type="number"
                      class="w-100"
                    />
                    <small id="priceDiscount-help" class="d-block"
                      >Enter your Product price Discount in EGP.</small
                    >
                  </div>
                </div>
              </div>
              <div class="">
                <div class="flex justify-content-center my-3">
                  <div class="flex flex-column gap-2">
                    <label for="amount" class="d-block"
                      >product Quantity</label
                    >
                    <input
                      formControlName="amount"
                      pInputText
                      id="amount"
                      aria-describedby="amount-help"
                      type="number"
                      class="w-100"
                    />
                    <small id="amount-help" class="d-block"
                      >Enter your Product quantity</small
                    >
                  </div>
                </div>
              </div>
              <div class="">
                <div class="flex justify-content-center my-3">
                  <div class="flex flex-column gap-2">
                    <label for="brand" class="d-block">brand</label>
                    <input
                      formControlName="brand"
                      pInputText
                      id="brand"
                      aria-describedby="brand-help"
                      class="w-100"
                    />
                    <small id="brand-help" class="d-block"
                      >Enter your Product brand.</small
                    >
                  </div>
                </div>
              </div>
              <div class="">
                <div class="flex flex-column gap-2">
                  <div class="flex justify-content-center my-3">
                    <label for="category">Choose Category</label>
                    <select
                      name="category"
                      id="category"
                      class="form-control w-100 h-100"
                      formControlName="category"
                    >
                      <option value="Electronics">Electronics</option>
                      <option value="Food">Food</option>
                      <option value="Jewelry">Jewelry</option>
                      <option value="Games">Games</option>
                      <option value="Fashion">Fashion</option>
                      <option value="Sports">Sports</option>
                      <option value="other">other</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="flex justify-content-center my-3">
                  <div class="flex flex-column gap-2">
                    <label for="description" class="d-block">description</label>
                    <textarea
                      formControlName="description"
                      class="w-100"
                      rows="4"
                      cols="30"
                      id="description"
                      aria-describedby="description-help"
                      pInputTextarea
                      [autoResize]="false"
                    ></textarea>
                  </div>
                </div>
              </div>
              <button
                [disabled]="productForm.invalid"
                class="btn btn-secondary m-auto d-block w-50"
              >
                <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading">Submit</span>
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="images-wrapper bg-white p-3 rounded-2 border border-2">
            <div class="img-cover border-black border-1 border p-1">
              <div class="image-cont">
                <p-image
                  [src]="product.imgCover"
                  alt="Image"
                  width="100%"
                  [preview]="true"
                ></p-image>
              </div>
            </div>
            <div class="images-upload my-2">
              <label
                for="file-upload"
                class="custom-file-upload m-auto d-block w-50 text-center fw-bold"
                >Upload Cover Image</label
              >
              <input
                class="upload-img"
                id="file-upload"
                type="file"
                (change)="onFileSelected($event)"
              />
            </div>
            <div class="product-images border-black border-1 border p-1">
              <div class="row g-2">
                <div class="col-md-6" *ngFor="let i of product.images">
                  <div class="image-cont">
                    <p-image
                      [src]="i"
                      alt="Image"
                      width="100%"
                      [preview]="true"
                    ></p-image>
                  </div>
                </div>
              </div>
            </div>
            <div class="images-upload my-2">
              <label
                for="files-upload"
                class="custom-file-upload m-auto d-block w-50 text-center fw-bold"
                >Upload Images</label
              >
              <input
                class="upload-img"
                id="files-upload"
                type="file"
                multiple
                (change)="onFilesSelected($event)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
