<div class="my-4   p-5 rounded-3 shadow-sm border-3 border">
  <div class="row">
    <div
      class="col-md-6 d-flex justify-content-center align-items-center flex-column rounded"
    >
      <h1 class="barlow-semi-condensed-semibold">Sign in</h1>
      <h3 *ngIf="apiError" class="text-danger">{{ apiError }}</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="flex justify-content-center mb-3">
          <label for="email">Email</label>
          <span>
            <input
              pInputText
              id="email"
              class="w-100"
              formControlName="email"
              id="email"
            />
          </span>
        </div>

        <div
          class=""
          *ngIf="
            loginForm.get('email')?.errors && loginForm.get('email')?.touched
          "
        >
          <p
            class="mb-0 text-danger"
            *ngIf="
              loginForm.get('email')?.getError('required') &&
              loginForm.get('email')?.touched
            "
          >
            email is required
          </p>
          <p
            class="mb-0 text-danger"
            *ngIf="loginForm.get('email')?.getError('email')"
          >
            email is invalid
          </p>
        </div>

        <div class="flex justify-content-center">
          <label for="username">Password</label>
          <span>
            <input
              pInputText
              id="username"
              formControlName="password"
              class="w-100"
            />
          </span>
        </div>

        <div
          class=""
          *ngIf="
            loginForm.get('password')?.errors &&
            loginForm.get('password')?.touched
          "
        >
          <p
            class="mb-0 text-danger"
            *ngIf="
              loginForm.get('password')?.getError('required') &&
              loginForm.get('password')?.touched
            "
          >
            password is required
          </p>
          <p
            class="mb-0 text-danger"
            *ngIf="loginForm.get('password')?.getError('pattern')"
          >
            password pattern is invalid
          </p>
        </div>

        <button
          [disabled]="loginForm.invalid"
          class="btn btn-secondary btn-lg d-block m-auto mt-3"
        >
          <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
          <span *ngIf="!isLoading">login</span>
        </button>
      </form>

      <a routerLink="/register" class="text-secondary"
        >don't have an account ?</a
      >
      <a (click)="showDialog()" class="text-secondary cursor-pointer"
        >forgot password ?</a
      >
    </div>
    <div class="col-md-6">
      <img
        src="assets/logIn.PNG"
        class="border border-1 border-dark w-100 rounded"
        alt=""
      />
    </div>
  </div>
</div>

<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <h3>Please enter your email</h3>
  </ng-template>

  <div class="flex justify-content-center p-4 align-items-center">
    <label for="email">Email</label>
    <span>
      <input
        pInputText-sm
        id="email"
        [(ngModel)]="email"
        class="rounded form-control"
      />
    </span>
  </div>
  <ng-template pTemplate="footer">
    <button
      (click)="forgotPassword()"
      [autofocus]="true"
      class="btn btn-secondary btn-lg d-block m-auto mt-3"
    >
      submit
    </button>
  </ng-template>
</p-dialog>


  <p-messages
    [(value)]="message"
    [enableService]="false"
    [closable]="true"
  ></p-messages>

