<div
  class="profile-container p-5 rounded-3 shadow-sm border-3 border position-relative"
>
  <h1 class="">Profile</h1>
  <div class="row">
    <div class="col-md-6">
    <form [formGroup]="updateUserForm" (ngSubmit)="submitUserInfo(updateUserForm)">
        <!-- ****************************************************** -->
      <div class="inp-group text-center my-2">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <label for="userName" class="me-3 fs-4">Name</label>
          </div>
          <div class="col-md-8">
            <input
            formControlName="name"
              id="userName"
              type="text"
              pInputText
              class="w-100"
            />
            <div class="" *ngIf="updateUserForm.get('name')?.errors && updateUserForm.get('name')?.touched">
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('name')?.getError('required') && updateUserForm.get('name')?.touched">name is required</p>
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('name')?.getError('minlength')" > name min length is 4</p>
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('name')?.getError('maxlength')">name max length is 15</p>
            </div>
          </div>
        </div>
      </div>
      <!-- ****************************************************** -->
      <div class="inp-group text-center my-2">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <label for="useremail" class="me-3 fs-4">Email</label>
          </div>
          <div class="col-md-8">
            <input
            formControlName="email"
              id="useremail"
              type="text"
              pInputText
              class="w-100"
            />
            <div class="" *ngIf="updateUserForm.get('email')?.errors && updateUserForm.get('email')?.touched">
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('email')?.getError('required') && updateUserForm.get('email')?.touched">email is required</p>
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('email')?.getError('email')" > email is invalid</p>
            </div>
          </div>
        </div>
      </div>
      <!-- ****************************************************** -->
      <div class="inp-group text-center my-2">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <label for="userRole" class="me-3 fs-4">Role</label>
          </div>
          <div class="col-md-8">
            <input
            formControlName="role"
              id="userRole"
              type="text"
              pInputText
              class="w-100"
            />
          </div>
        </div>
      </div>
      <!-- ****************************************************** -->
      <div class="inp-group text-center my-2">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <label for="userPhone" class="me-3 fs-4">Phone</label>
          </div>
          <div class="col-md-8">
            <input
            formControlName="phone"
              id="userPhone"
              type="text"
              pInputText
              class="w-100"
            />
            <div class="" *ngIf="updateUserForm.get('phone')?.errors && updateUserForm.get('phone')?.touched">
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('phone')?.getError('required') && updateUserForm.get('phone')?.touched">phone is required</p>
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('phone')?.getError('minlength')" > phone min length is 10 </p>
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('phone')?.getError('maxlength')" > phone max length is 13 </p>
              </div>
          </div>
        </div>
      </div>
      <!-- ****************************************************** -->
      <div class="inp-group text-center my-2">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <label for="userAdress" class="me-3 fs-4">Adress</label>
          </div>
          <div class="col-md-8">
            <input
             formControlName="address"
              id="userAdress"
              type="text"
              pInputText           
              class="w-100"
            />
          </div>
        </div>
      </div>
      <!-- ****************************************************** -->
      <div class="inp-group text-center my-2">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <label for="userAge" class="me-3 fs-4">Age</label>
          </div>
          <div class="col-md-8">
            <input
              formControlName="Age"
              id="userAge"
              type="number"
              pInputText 
              class="w-100"
            />
            <div class="" *ngIf="updateUserForm.get('Age')?.errors && updateUserForm.get('Age')?.touched">
                <p class="mb-0 text-danger" *ngIf="updateUserForm.get('Age')?.getError('min')"> Age min value is 12 </p>
              </div>
          </div>
        </div>
      </div>
      <!-- ****************************************************** -->
    </form>

      <div class="buttons d-flex justify-content-around" *ngIf="editable">
        <button class="btn btn-secondary" (click)="showDialog()">
          change password
        </button>
        <button class="btn btn-success" (click)="submitUserInfo(updateUserForm)">Submit</button>
      </div>

    </div>
    <div class="col-md-6">
      <div
        class="rigth-container d-flex justify-content-center align-items-center flex-column"
      >
        <div class="user-img shadow-sm">
          <img src="assets/pizza.jpg" alt="" />
        </div>
        <div class="controls mt-4 w-100 d-flex justify-content-center">
          <button class="btn btn-info" (click)="edit()">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog
  header="Header"
  [(visible)]="visibleDialog"
  [style]="{ width: '50vw' }"
>
  <ng-template pTemplate="header">
    <h3>Change Password</h3>
  </ng-template>
  <form [formGroup]="updateUserPasswordForm" (ngSubmit)="submitUserPassword(updateUserPasswordForm)">

    <div class="inp-group text-center my-2">
        <div class="row">

        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="userOldPassword" class="me-3 fs-4">Old Password</label>
        </div>

        <div class="col-md-8">
            <input
            formControlName="oldPassword"
            id="userOldPassword"
            type="password"
            pInputText
            class="w-100"
            />
            <div class="" *ngIf="updateUserPasswordForm.get('oldPassword')?.errors && updateUserPasswordForm.get('oldPassword')?.touched">
                <p class="mb-0 text-danger" *ngIf="updateUserPasswordForm.get('oldPassword')?.getError('required') && updateUserPasswordForm.get('oldPassword')?.touched">old Password is required</p>
                <p class="mb-0 text-danger" *ngIf="updateUserPasswordForm.get('oldPassword')?.getError('pattern')" > old Password pattern is invalid</p>
              </div>
        </div>
        </div>
    </div>

    <div class="inp-group text-center my-2">
        <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="userPassword" class="me-3 fs-4">New Password</label>
        </div>
        <div class="col-md-8">
            <input
            formControlName="newPassword"
            id="userPassword"
            type="password"
            pInputText
            class="w-100"
            />
            <div class="" *ngIf="updateUserPasswordForm.get('newPassword')?.errors && updateUserPasswordForm.get('newPassword')?.touched">
                <p class="mb-0 text-danger" *ngIf="updateUserPasswordForm.get('newPassword')?.getError('required') && updateUserPasswordForm.get('newPassword')?.touched">new Password is required</p>
                <p class="mb-0 text-danger" *ngIf="updateUserPasswordForm.get('newPassword')?.getError('pattern')" > new Password pattern is invalid</p>
              </div>
        </div>
        </div>
    </div>

    <div class="inp-group text-center my-2">
        <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <label for="userConfrimPassword" class="me-3 fs-4"
            >Confirm Password</label
            >
        </div>
        <div class="col-md-8">
            <input
            formControlName="newConfirmPassword"
            id="userConfrimPassword"
            type="password"
            pInputText
            class="w-100"
            />
            <div class="" *ngIf="updateUserPasswordForm.get('newConfirmPassword')?.errors && updateUserPasswordForm.get('newConfirmPassword')?.touched">
                <p class="mb-0 text-danger" *ngIf="updateUserPasswordForm.get('newConfirmPassword')?.getError('required') && updateUserPasswordForm.get('newConfirmPassword')?.touched">confirm Password is required</p>
                <p class="mb-0 text-danger" *ngIf="updateUserPasswordForm.get('newConfirmPassword')?.getError('pattern')" > confirm password pattern is invalid</p>
              </div>
        </div>
        </div>
    </div>
</form>
  <ng-template pTemplate="footer">
    <button
      [autofocus]="true"
      class="btn btn-secondary btn-lg d-block m-auto mt-3"
        (click)="submitUserPassword(updateUserPasswordForm)"
    >
      submit
    </button>
  </ng-template>
</p-dialog>


<div class="card">
    <p-toast></p-toast>
</div>