@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 /****************************************************************************************/

:root {
  --main-color: #025048;
  --sec-color:#F1F4F1;
  --light-brown:#55504C;
  --white-text:#FFFFFF;
  --sec-text:#424B4A;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body{
  font-family: "Playfair Display", serif;
  color:white;
  font-weight: 400;
  font-style: normal;
}
.bg-lighBrown{
  background-color: var(--light-brown);
}

.cursor-pointer{
  cursor: pointer;
}
.hover-shadow-scale{
  transition: all 0.5s;
}
.hover-shadow-scale:hover {
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
} 
.hover-shadow-scale img{
  transition: all 0.5s;
}
.hover-shadow-scale:hover img{
  transform: scale(1.2);
}
.p-button {
  /* Override Bootstrap button styles */
  background-color: inherit;
  border-color: inherit;
  color: inherit;
  border: inherit;
  /* Add any other styles you need */
}
.bg-offWhite{
  background-color: #F7F7F7;
}
.playfair-display-normal{
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 16;
font-style: normal;
}
.playfair-display-h2{
  font-family: "Playfair Display", serif;
  font-optical-sizing: 48;
  font-weight: 500;
  font-style: normal;
}
.playfair-display-h4{
    font-family: "Playfair Display", serif;
    font-optical-sizing: 24;
    font-weight: 500;
    font-style: normal;
}
.bg-main-color{
  background-color: var(--main-color);
}
.bg-sec-color{
  background-color: var(--sec-color);
}
.sec-text-color{
  color: var(--sec-text);
}
.white-text{
  color:var(--white-text)
}
.main-text-font{
  font-size: 48px;
}
.sec-text-font{
  font-size: 24px;
}
.main-text-color{
  color: var(--main-color);
}

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

}